slider {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.slider.slider-horizontal {
  width: 475px;
  height: 10px;
}
.slider.slider-horizontal .slider-track {
  height: 10px;
  width: 100%;
  margin-top: -5px;
  top: 50%;
  left: 0;
}
.slider.slider-horizontal .slider-selection,
.slider.slider-horizontal .slider-track-low,
.slider.slider-horizontal .slider-track-high {
  height: 100%;
  top: 0;
  bottom: 0;
}
.slider.slider-horizontal .slider-tick,
.slider.slider-horizontal .slider-handle {
  margin-left: -10px;
}

.slider.slider-horizontal .slider-tick-container {
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.slider.slider-horizontal .slider-tick-label-container {
  white-space: nowrap;
  margin-top: 20px;
}
.slider.slider-horizontal .slider-tick-label-container .slider-tick-label {
  padding-top: 4px;
  display: inline-block;
  text-align: center;
}
.slider.slider-horizontal.slider-rtl .slider-track {
  left: initial;
  right: 0;
}
.slider.slider-horizontal.slider-rtl .slider-tick,
.slider.slider-horizontal.slider-rtl .slider-handle {
  margin-left: initial;
  margin-right: -10px;
}
.slider.slider-horizontal.slider-rtl .slider-tick-container {
  left: initial;
  right: 0;
}
.slider input {
  display: none;
}
.slider .tooltip.top {
  margin-top: -36px;
}
.slider .tooltip-inner {
  white-space: nowrap;
  max-width: none;
}
.slider .hide {
  display: none;
}
.slider-track {
  position: absolute;
  cursor: pointer;
  background-image: -webkit-linear-gradient(top, #307FE2 0, #307FE2 100%);
  background-image: -o-linear-gradient(top, #307FE2 0, #307FE2 100%);
  background-image: linear-gradient(to bottom, #307FE2 0, #307FE2 100%);
  background-repeat: repeat-x;
  opacity: 0.3;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff307FE2',endColorstr='#ff307FE2',GradientType=0);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.slider-handle {
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  background-color: #21B6A8;
  background-image: -webkit-linear-gradient(top, #21B6A8 0, #21B6A8 100%);
  background-image: -o-linear-gradient(top, #21B6A8 0, #21B6A8 100%);
  background-image: linear-gradient(to bottom, #21B6A8 0, #21B6A8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff21B6A8',endColorstr='#ff21B6A8',GradientType=0);
  filter: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
}
.slider-handle.custom {
  background: none;
}
.slider-handle.custom::before {
  line-height: 1px;
  font-size: 50px;
  content: "\2B24";
  color: #21B6A8;
}
.slider-tick {
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: -webkit-linear-gradient(top, #21B6A8 0, #21B6A8 100%);
  background-image: -o-linear-gradient(top, #21B6A8 0, #21B6A8 100%);
  background-image: linear-gradient(to bottom, #21B6A8 0, #21B6A8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff21B6A8',endColorstr='#ff21B6A8',GradientType=0);
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: none;
  -moz-box-sizing: none;
  box-sizing: none;
  filter: none;
  opacity: 0.8;
  border: none;
}
.slider-tick.custom {
  background: none;
}
.slider-tick.custom::before {
  line-height: 1px;
  font-size: 15px;
  content: "\2B24";
  color: #21B6A8;
}

